# Y2: YOLOv3-MobileNetV1，1/3 数据，双卡
# 目的：1/3 数据 + 双卡加速，对比 Y1 观察多卡对小数据集的影响
# 卡数：2    CUDA_VISIBLE_DEVICES=0,1
# bs=8/卡 = 16 total，linear scale: lr = 0.01 × (16/64) = 0.0025
# milestones 按 60%/80% × 80 epoch = [48, 64]
_BASE_: ['../yolov3_my_dog_mouse_voc.yml']

save_dir: output/Y2_yolov3_1of3_2gpu
epoch: 80
snapshot_epoch: 5
worker_num: 6

LearningRate:
  base_lr: 0.0025
  schedulers:
  - !PiecewiseDecay
    gamma: 0.1
    milestones:
    - 48
    - 64
  - !LinearWarmup
    start_factor: 0.
    steps: 1500

TrainDataset:
  name: VOCDataSet
  dataset_dir: dataset/mouse_other_voc_1of3
  anno_path: train.txt
  label_list: label_list.txt
  data_fields: ['image', 'gt_bbox', 'gt_class', 'difficult']
