_BASE_: [
  '../datasets/mouse_other_voc.yml',
  '../runtime.yml',
  '_base_/picodet_v2.yml',
  '_base_/optimizer_300e.yml',
  '_base_/picodet_320_reader.yml',
]

pretrain_weights: pretrained_models/picodet_s_320_coco_lcnet.pdparams
weights: output/picodet_s_320_voc_mouse/best_model
save_dir: output/picodet_s_320_voc_mouse
find_unused_parameters: True
use_ema: true
epoch: 300
snapshot_epoch: 10

LCNet:
  scale: 0.75
  feature_maps: [3, 4, 5]

LCPAN:
  out_channels: 96

PicoHeadV2:
  conv_feat:
    name: PicoFeat
    feat_in: 96
    feat_out: 96
    num_convs: 2
    num_fpn_stride: 4
    norm_type: bn
    share_cls_reg: True
    use_se: True
  feat_in_chan: 96


# cd /hy-tmp/paddle_detection_mouse/PaddleDetection-release-2.6

# python -m paddle.distributed.launch --gpus 0,1 tools/train.py \
#   -c configs/picodet/picodet_s_320_voc_mouse.yml \
#   --eval \
#   --use_vdl=true \
#   -o TrainReader.batch_size=64 \
#      LearningRate.base_lr=0.16 \
#      worker_num=6 \
#      save_dir=output/picodet_s_320_voc_mouse \
#      pretrain_weights=pretrained_models/picodet_s_320_coco_lcnet.pdparams


# nohup python -m paddle.distributed.launch --gpus 0,1 tools/train.py \
#   -c configs/picodet/picodet_s_320_voc_mouse.yml \
#   --eval \
#   --use_vdl=true \
#   -o TrainReader.batch_size=64 \
#      LearningRate.base_lr=0.16 \
#      worker_num=6 \
#      save_dir=output/picodet_s_320_voc_mouse \
#      pretrain_weights=pretrained_models/picodet_s_320_coco_lcnet.pdparams \
#   > log_picodet_mouse/train.log 2>&1 &